
.product-list {
    padding: 20px;
    text-align: center;
}

.product {
    display: inline-block;
    width: 220px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: white;
}

.product img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.product h3 {
    margin: 10px 0;
}

.product p {
    margin: 5px 0;
}

/* Additional styles for product types */

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    flex: 0 0 calc(33.33% - 20px);
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product h3 {
    margin: 10px 0;
}

.product p {
    margin: 5px 0;
}


/* Header */
header {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Contact */
.contact {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.contact h2 {
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

